* {
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans";
}
body {
  background-size: 50%;
  background: url("assets/bg.png") repeat fixed;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
button {
  background-color: black;
  font-size: larger;
  padding: 8px;
  border-radius: 16px;
  &:disabled {
    color: gray;
  }
}

#settings {
  display: flex;
  align-items: center;
  margin: 16px;
  gap: 32px;
  & .radio_group {
    display: flex;
    gap: 8px;
  }
}

#map-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
}

#info-game {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  flex: 1 1 0;
  & .info-game-elements {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 25%;
    width: 25%;
  }
  & #historic {
    flex: 1 1 0;
    overflow-y: auto;
    & .action {
      display: flex;
      flex-direction: column;
      & p {
        color: gray;
      }
      &.active p {
        color: white;
      }
      & p:nth-child(2) {
        font-size: smaller;
        margin-left: 24px;
      }
    }
  }
}

#buttons {
  display: flex;
  justify-content: center;
  margin: 16px;
  gap: 32px;
}

.row {
  display: flex;
  & div {
    min-width: 15px;
    align-content: center;
  }
}
